<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ball.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ball.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
		<Ball.Properties.Settings>
			<setting name="BackSKColor" serializeAs="String">
				<value>#ffffff</value>
			</setting>
		</Ball.Properties.Settings>
        <Ball.Properties.Settings>
            <setting name="BallSKColor" serializeAs="String">
                <value>#000000</value>
            </setting>
        </Ball.Properties.Settings>
		<Ball.Properties.Settings>
			<setting name="BallRadius" serializeAs="String">
				<value>20</value>
			</setting>
		</Ball.Properties.Settings>
    </userSettings>
</configuration>